@import "../static//reset.css";

.Signup-Top-Containers {
}

.Signup-Header {
  font-size: 20px;
  padding: 25px;
  font-family: "nanum-bold";
}

.signupButton {
  width: 300px;
  padding: 10px;
  border: 1px solid rgb(160, 166, 172);
  background-color: rgb(181, 186, 191);
  border-radius: 15px;
  margin-top: 30px;
}
