@import "../static//reset.css";

.Form-Top-Container {
  display: block;
}

.Form-Container {
  background-color: rgb(34, 62, 74);
  border-radius: 20px;
  width: 650px;
  height: 450px;
  text-align: center;
}

.Form-Container > h1 {
  font-family: "nanum-extraBold";
  color: rgb(226, 177, 16);
  padding: 40px;
}

.todo-create-form {
}

.Todo-title-input,
.Todo-content-textarea {
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid rgb(117, 117, 117);
  padding: 10px;
  width: 450px;
}

.Todo-title-input {
  height: 30px;
  margin: 0 20px 10px 0;
}

.Todo-content-textarea {
  height: 170px;
  margin: 10px 20px 20px 0;
}

.createButton {
  color: rgb(226, 177, 16);
  border: 2px solid rgb(226, 177, 16);
  border-radius: 10px;
  padding: 5px;
  width: 450px;
  font-size: 15px;
  font-weight: 600;
  /* margin-right: 20px; */
}
