@import "../static//reset.css";

.Todo-Top-Container {
  position: relative;
}

.Todo-col-1 {
  margin: 60px 0 0 80px;
  display: flex;
  flex-direction: row;
}

.Todo-col-2 {
  margin: 60px 0 0 80px;
  margin-top: 20px;
}
