@import "../static//reset.css";

.Todo-Top-Container {
  position: relative;
  padding: 70px;
}

.Todo-col-1 {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

.Todo-col-2 {
  margin-top: 20px;
}
