@import "../static//reset.css";

.Todo-Detail-Top-Container {
  background-color: rgb(34, 62, 74);
  border-radius: 20px;
  margin-left: 50px;
}

.Todo-Detail-Container {
  width: 600px;
  height: 400px;
}

.Todo-Detail-Title,
.Todo-Detail-Content {
  padding: 60px;
}

.Todo-Detail-Title {
  color: rgb(226, 177, 16);
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 5px;
}

.Todo-Detail-Content {
  height: 180px;
  line-height: 30px;
  color: rgb(206, 206, 205);
  font-size: 18px;
}

.Todo-Detail-Buttons {
  text-align: center;
}

.updateButton {
  width: 500px;
  border: 2px solid rgb(226, 177, 16);
  padding: 5px;
  border-radius: 10px;
  color: rgb(226, 177, 16);
  font-weight: 600;
  font-size: 15px;
}
