@import "../static//reset.css";

.todo-update-form {
  width: 600px;
  text-align: center;
}

.todo-update-form > h1 {
  font-family: "nanum-extraBold";
  color: rgb(226, 177, 16);
  padding: 40px;
}
.Todo-title-input-update,
.Todo-content-textarea-update {
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid rgb(117, 117, 117);
  padding: 10px;
  width: 450px;
}

.Todo-title-input-update {
  height: 30px;
  margin: 0 20px 10px 0;
}

.Todo-content-textarea-update {
  height: 170px;
  margin: 10px 20px 20px 0;
}

.Todo-Update-Form-Buttons {
  text-align: center;
}

.Todo-Update-Form-Buttons > button {
  color: rgb(226, 177, 16);
  font-weight: 600;
  margin-top: 10px;
  font-size: 15px;
}
